.entry-header,
.page-header,
.entry-footer,
.site-info,
.posts-navigation,
.post-navigation,
.page-navigation,
.comments-area,
.not-found .page-content,
.search .entry-summary {
  margin: 1.5em auto;
  /*padding-left: 14px;
  padding-right: 14px;*/
  max-width: $default-content-width;
}

.site-header {
    max-width: $default-content-width;
    margin: 0 auto;
}

.page_item { margin-right: 1rem; }

@media screen and (max-width: 610px) {
    .entry-header,
    .site-header,
    .site-footer {
        padding-left: 1em;
        padding-right: 1em;
    }
}
